body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: rgb(60, 51, 71);
    background-color: #333745;
}
html{
    font-size: 62.5%;
}

button{
    cursor: pointer;
}
button:disabled{
    cursor: default;
}